{#This page needs to be implemented in the using module same as we did with the payment page.#}

<h1>Merchant Onboarding page</h1>

<div>
    <form action="http://stripe.spryker.local/app-payment/onboard-merchant" method="post">
        <div>
            <label for="merchant_reference">Merchant Reference</label>
            <input type="text" name="merchant_reference" placeholder="MER****">
        </div>
        <div>
            <label for="account_id">Account ID</label>
            <input type="text" name="stripe_account_id" placeholder="acct_****">
        </div>
        <input type="submit" value="Connect me with payments" />
    </form>
</div>
